In [1]:
pip install numpy

Requirement already satisfied: numpy in /Users/kelumrubasin/opt/anaconda3/lib/python3.9/site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in /Users/kelumrubasin/opt/anaconda3/lib/python3.9/site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import os

In [4]:

# Path to the directory containing the CSV files
directory_path = '../DATASETS/CSE_DATA/COMPANY_DATA/DAILY_SHARE_TRADING_STATISTICS_SUMMARY_2006_2022/'

# List all CSV files in the directory
filenames = [os.path.join(directory_path, file) for file in os.listdir(directory_path) if file.endswith('.csv')]

# Initialize an empty DataFrame to store the combined data
combined_data = pd.DataFrame()

# Loop through each file and append it to the combined_data DataFrame
for filename in filenames:
    data = pd.read_csv(filename)
    combined_data = combined_data.append(data, ignore_index=True)

combined_data

/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)
/var/folders/kp/bgyrqb3s3n19yxcx2cyqppwh0000gn/T/ipykernel_22701/2903819007.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data, ignore_index=True)

,Company Name,Symbol,Open (Rs.),High (Rs.),Low (Rs.),Close Price (Rs),Trade_Volume,Share Volume,Turnover(Rs),even,even 2,even 3,even 4,even 5,even 6,even 7,even 8
0,EXPOLANKA HOLDINGS PLC,EXPO.N0000,29.30,390.00,29.20,375.25,"659,361.00","1,829,108,975.00","185,559,675,894.30",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BROWNS INVESTMENTS PLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BIL.N0000,4.40,16.50,4.20,16.30,"518,561.00","18,204,517,448.00","148,386,491,103.20"
2,L O L C HOLDINGS PLC,LOLC.N0000,136.00,"1,210.00",136.00,"1,162.00","225,123.00","164,120,325.00","70,309,862,333.70",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JOHN KEELLS HOLDINGS PLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JKH.N0000,167.00,168.80,79.90,149.60,"74,880.00","459,869,047.00","62,872,661,508.00"
4,JOHN KEELLS HOLDINGS PLC,JKH.N0000,167.00,168.80,79.90,149.60,"74,880.00","459,869,047.00","62,872,661,508.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5622,OFFICE EQUIPMENT PLC,OFEQ.N0000,60.00,"4,627.20",180.60,"3,000.00",73.00,284.00,"830,555.70",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5623,HIKKADUWA BEACH RESORT PLC,CITH.N0000,0.00,29.80,20.00,23.80,156.00,"29,297.00","675,966.40",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5624,SWADESHI INDUSTRIAL WORKS PLC,SWAD.N0000,0.00,"15,000.00","5,700.00","8,200.00",14.00,14.00,"148,475.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5625,MERCANTILE INVESTMENTS AND FINANCE PLC,MERC.N0000,0.00,"2,200.00","2,200.00","2,200.00",1.00,10.00,"22,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,AGSTAR PLC,AGST.X0000,0.00,15.00,15.00,15.00,1.00,"1,000.00","15,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Select only "Company Name" and "Symbol" columns
selected_data = combined_data[['Symbol']]

# Remove rows with NaN values
selected_data = selected_data.dropna()

# Remove duplicate rows based on the "Symbol" column
selected_data_no_duplicates = selected_data.drop_duplicates(subset='Symbol')

# Define the file path where you want to save the CSV file
output_file_path = 'output_data.csv'

# Export the DataFrame to a CSV file
selected_data_no_duplicates.to_csv(output_file_path, index=False)